.portfolio-section {
  padding: 2rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-item {
  margin: 1rem;
  text-align: center;
}

.project-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.project-links {
  margin-top: 1rem;
  color: grey;
}

.project-links a {
  display: block;
  margin-bottom: 0.5rem;
  color: grey;
}