/* src/index.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Your Preferred Font', sans-serif;
    background-color: #f4f4f4; /* Set a default background color */
    color: #333; /* Set a default text color */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 2rem;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  .social-links {
    margin-top: 1rem;
  }
  
  .social-links a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  